<!-- brand.ejs -->

<%- include("./partials/head") %>

<body>
  <h1>Browsing by Brand</h1>
  <ul>
    <!-- list the brand here as links to /brand/:brandName -->
    <% brands.forEach(brand => { %>
      <% const brandURL = brand.brandname.toLowerCase().replaceAll(" ", "_"); %>
      <a href="/brand/<%- brandURL %>">
        <li>
          <%= brand.brandname %>  
        </li>
      </a>
    <% }); %>
  </ul>
</body>

<%- include("./partials/footer") %>
