<!-- category.ejs -->

<%- include("./partials/head") %>

<body>
  <h1>Browsing by Category</h1>
  <ul>
    <!-- list the categories here as links to /category/:categoryId -->
  </ul>
</body>

<%- include("./partials/footer") %>
