<!-- category.ejs -->

<%- include("./partials/head") %>

<body>
  <h1>Browsing by Category</h1>
  <ul>
    <!-- list the categories here as links to /category/:categoryId -->
     <% categories.forEach(category => { %>
      <a href="/category/:<%= category.categoryid %>">
        <li>
          <%= category.categoryname %>  
        </li>
      </a>
      <% }); %>           
  </ul>
</body>

<%- include("./partials/footer") %>
