<!-- index.ejs -->

<%- include("./partials/head") %>

<body>
  <h1>Welcome to Generic Clothing Store!</h1>
  <a href="category">Browse by Category</a>
  <br />
  <a href="brand">Browse by Brand</a>
  <br />
  <br />
  <button onclick="location.href='/create'">Add Item</button>
</body>

<%- include("./partials/footer") %>